
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  

  .background{
    background-color: #bdbdb7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    width: 100vw;
    height: 100vh;
  }

  
  .spotlight1 {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    user-select: none;
    overflow: hidden; 
  }
  
  .spotlight2 {
    position: absolute;
    width: 40%;
    top: 0;
    left: 60%; 
    overflow: hidden; 
    user-select: none;
  }

  .navigation-bar {
    position: absolute;
    width: 100%; /* Use 100% width to make it responsive */
    height: 5vh;
    top: 0;
    background-color: #8e0204;
    user-select: none;
  }
  .navigation-bar .snackrifice-text {
    position: absolute;
    top: 28%;
    left: 2%;
    text-shadow: 0px 0px 100px #495867;
    -webkit-text-stroke: 1px #1b3220;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.5vw;
    letter-spacing: 0;
    line-height: normal;
  }

  .vending-machine .overlap-group-wrapper {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 85%; /* Adjust as needed for responsiveness */
    height: 90%; /* Adjust as needed for responsiveness */
    z-index: 1; /* Ensure the .overlap-group-wrapper is behind other elements */
}

  .vending-machine .title-section {
    position: absolute;
    width: 55%;
    height: 20%;
    transform: translate(-50%, -50%);
    top: 10%; /* Place the element 70% from the top of the viewport */
    left: 50%;
    z-index: 2; /* Ensure the .title-section is above the .overlap-group-wrapper */
  }

  .vending-machine .title {
    width: 100%; /* Make the image fill the container width */
    height: 90%;
  }
  
  .vending-machine .ellipse1 {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 32%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .ellipse2 {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 64%;
    left:50%;
    background-color: #ecc8af;
    border: 1px solid;
    border-color: #ce796b;
    box-shadow: 0px 4px 4px #00000040;
    transform: translate(-50%, -50%);
  }
  
  
  .vending-machine .ellipse3 {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 95%;
    left:50%;
    background-color: #ecc8af;
    border: 1px solid;
    border-color: #ce796b;
    box-shadow: 0px 4px 4px #00000040;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .title-semicircle {
    position: absolute;
    width: 667px;
    height: 164px;
    top: 15px;
    left: 23px;
  }

  
  .vending-machine .main-vending {
      position: absolute;
      width: 90%;
      height: 85%;
      transform: translate(-50%, -50%);
      top: 60%; /* Place the element 70% from the top of the viewport */
      left: 50%;
      z-index: 2; /* Ensure the .title-section is above the .overlap-group-wrapper */
  }
  .vending-machine .vending-shadow {
    position: absolute;
    width: 100%;
    height: 97%;
    top: 1.5%;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
    filter: blur(8px);
  
  }
  
  .vending-machine .handle {
    position: absolute;
    width: 3%;
    height:5%;
    top: 0.5%;
    left: 35%;
    background-color: #7b5d4d;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .vending-machine .handle-2 {
    position: absolute;
    width: 3%;
    height:5%;
    top: 0.5%;
    left: 60%;
    background-color: #6d584d;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .vending-machine .main-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: #2c2a2a;
    border-radius: 7%;
    filter: blur(8px);
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .toe {
    position: absolute;
    width: 10%;
    height: 5%;
    top: 96%;
    left: 20%;
  }
  
  .vending-machine .toe-kick {
    position: absolute;
    width: 10%;
    height: 5%;
    top: 96%;
    left: 70%;
  }
  
  .vending-machine .yellow-vending {
    position: absolute;
    width: 95%;
    height: 93%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbbc5f;
    border-radius: 30px;
    border: 1px solid #b68740;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
}
  
  .vending-machine .inside {
    position: absolute;
    width: 23%;
    height: 64%;
    top: 9%;
    left: 72%;
    background-color: #fefefe;
    border-radius: 15px;
    filter: blur(6px);
  }
  
  .vending-machine .inside-black {
    position: absolute;
    width: 23%;
    height: 65%;
    top: 10%;
    left: 74%;
    background-color: #444242;
    border-radius: 15px;
    filter: blur(7px);
    
  }
  .vending-machine .inside-red {
    position: absolute;
    width: 23%;
    height: 62%;
    top: 10%;
    left: 72%;
    background-color: #8e0103;
    border-radius: 15px;
    border: 1px solid;
    border-color: #5f0102;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .vending-machine .choose-section {
    position: absolute;
    width: 23%;
    height: 64%;
    top: 9%;
    left: 72%;
  }
  
  .vending-machine .screen-section {
    position: absolute;
    width: 120%;
    height: 40%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .start-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 85%;
    height: 13%;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .button-white{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65%;
    left: 50%;
    background-color: #fefefe;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .button-yellow {
    position: absolute;
    width: 83%;
    height: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid;
    border-color: #c58628;
    box-shadow: 0px 0px 30px #e9a721;
    background: linear-gradient(180deg, rgb(252, 171, 51) 0%, rgb(251, 188, 95) 100%);
  }
  
  .vending-machine .start-shadow {
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 3%; 
    left: 1.5%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 70px #00000040;
    -webkit-text-stroke: 1px #9d2709;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #97270a;
    font-size: 1.5em; 
    letter-spacing: 0.1em; 
    line-height: normal;
}
  
  .vending-machine .start-text {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 70px #00000040;
    -webkit-text-stroke: 1px #9d2709;
    color: #ec3f13;
    font-size: 24px;
    letter-spacing: 2.4px;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em; 
    line-height: normal;
  }
  
  .vending-machine .cancel-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 85%;
    height: 13%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  

  
  .vending-machine .cancel-shadow {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 3%; 
    left: 1.5%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 100px #00000040;
    -webkit-text-stroke: 1px #5e0102;
    color: #440202;
    font-size: 24px;
    letter-spacing: 2.4px;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em; 
    line-height: normal;
  }
  
  .vending-machine .cancel-text {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 100px #00000040;
    -webkit-text-stroke: 1px #5e0102;
    color: #8e0103;
    font-size: 24px;
    letter-spacing: 2.4px;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em; 
    line-height: normal;
  
  }
  
  .vending-machine .finish-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 85%;
    height: 13%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .finish-shadow {
    text-shadow: 0px 0px 100px #00000040;
    -webkit-text-stroke: 1px #1f3924;
    color: #1a321f;
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 3%; 
    left: 1.5%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2.4px;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em; 
    line-height: normal;
  }
  
  .vending-machine .finish-text {
    text-shadow: 0px 0px 100px #00000040;
    -webkit-text-stroke: 1px #1f3924;
    color: #386641;
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2.4px;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1em; 
    line-height: normal;
  }
  
  .vending-machine .food-section {
    position: absolute;
    width: 63%;
    height: 65%;
    top: 8%;
    left: 7%;
  }
  
  .vending-machine .inside_shadow2 {
    position: absolute;
    width: 98%;
    height: 99%;
    top: 51%;
    left: 50%;
    background-color: #fefefe;
    border-radius: 15px;
    filter: blur(4px);
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .inside_black2 {
    position: absolute;
    width: 98%;
    height: 98%;
    top: 54%;
    left: 51.5%;
    background-color: #343131;
    border-radius: 15px;
    filter: blur(4px);
    transform: translate(-50%, -50%);
  }
  .vending-machine .redbox {
    position: absolute; /* Ensure it is positioned absolutely within the parent */
    width: 95%;
    height: 97%;
    background-color: #8e0103;
    border-radius: 15px;
    border: 1px solid #5f0102;
    box-shadow: 0px 4px 4px #00000040;
    left: 50%; /* Adjust the value to move it further right */
    top: 51%;
    transform: translate(-50%, -50%);
  }
  
  
  .vending-machine .division {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 32%;
    left:50%;
    background-color: #ecc8af;
    border: 1px solid;
    border-color: #ce796b;
    box-shadow: 0px 4px 4px #00000040;
    transform: translate(-50%, -50%);

  }
  .vending-machine .snacks-section {
    position: absolute;
    width: 96%;
    height: 40%;
    top: 65%;
    left: 2%;
    overflow: hidden;
  }
  
  .vending-machine .overlap-6 {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .vending-machine .overlap-7 {
    position: relative;
    width: 100%;
    height: 80%;
  }
  
  .vending-machine .stand-1 {
    top: -10;
    left: 3px;
  }
  
  
  .vending-machine .stand-2 {
    top: 45px;
    left: 201px;
  }
  
  .vending-machine .category-text-shadow {
    position: absolute;
    width: 50%;
    top: 21%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Nico Moji-Regular", Helvetica;
    font-weight: 400;
    color: #90611c;
    font-size: 210%;
    letter-spacing: 0;
    line-height: normal;
}
  
  .vending-machine .category-text {
    color: #f9aa34;
    position: absolute;
    width: 50%;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Nico Moji-Regular", Helvetica;
    font-weight: 400;
    font-size: 210%;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .empanada-section {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 35%;
  }

  .vending-machine .overlap-empanada {
    position: relative;
    width: 100%;
    height: 100%;
  }

  
  .vending-machine .shadow-foodep {
    position: absolute;
    width: 148px;
    height: 48px;
    top: 16px;
    left: 4px;
  }
  
  .vending-machine .empanada {
    position: absolute;
    width: 87px;
    height: 45px;
    top: 0;
    left: 25px;
    object-fit: cover;
  }
  
  .vending-machine .empanada-2 {
    top: 8px;
    left: 46px;
    position: absolute;
    width: 87px;
    height: 45px;
    object-fit: cover;
  }
  
  .vending-machine .empanada-3 {
    top: 13px;
    left: 68px;
    position: absolute;
    width: 87px;
    height: 45px;
    object-fit: cover;
  }
  
  .vending-machine .button-green {
    position: absolute;
    z-index: 1; /* Ensure button is behind the text */
    width: 172px;
    height: 25px;
    background-color: #386641;
    border-radius: 40px;
    border: 1px solid #24432a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    font-size: 14px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px; 
    text-decoration: none;
  }
  
  
  .vending-machine .buttongreen1 {
    top: 52px;
    left: 0;
  }
  .vending-machine .empanada-text {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 65px;
    left: 51%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }

  .vending-machine .quick2-section {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 90%;
  }
  
  .vending-machine .overlap-quick2 {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .vending-machine .shadow-foodqk {
    position: absolute;
    width: 143px;
    height: 53px;
    top: 32px;
    left: 14px;
  }
  
  .vending-machine .quick {
    position: absolute;
    width: 160px;
    height: 106px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .vending-machine .quick-x {
    width: 161px;
    height: 108px;
    top: 0;
    left: 16px;
    position: absolute;
    object-fit: cover;
  }
  
  .vending-machine .quick-2 {
    width: 154px;
    height: 101px;
    top: 7px;
    left: 29px;
    position: absolute;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen2 {
    top: 77px;
    left: 6px;
  }
  
  .vending-machine .text-wrapper-5 {
    position: absolute;
    width: 139px;
    top: 90px;
    left: 54%;
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    transform: translate(-50%, -50%); /* Center text */
  }
  
  .vending-machine .overlap-11 {
    position: absolute;
    width: 21px;
    height: 77px;
    top: 43px;
    left: 247px;
  }
  
  .vending-machine .stand-3 {
    top: 0;
    left: 8px;
   }
  
  .vending-machine .overlap-12 {
    position: absolute;
    width: 10px;
    height: 77px;
    top: 43px;
    left: 236px;
  }
  
  .vending-machine .stand-4 {
    top: 0;
    left: 2px;
    }
  
  .vending-machine .stand-5 {
    top: 41px;
    left: 665px;
    }
  
  .vending-machine .overlap-13 {
    position: absolute;
    width: 199px;
    height: 114px;
    top: 14px;
    left: 36px;
  }
  
  .vending-machine .overlap-14 {
    position: absolute;
    width: 192px;
    height: 114px;
    top: 0;
    left: 7px;
  }
  
  .vending-machine .stand-6 {
    top: 28px;
    left: 0;
   }
  
  .vending-machine .overlap-15 {
    position: absolute;
    width: 188px;
    height: 114px;
    top: 0;
    left: 4px;
  }
  
  .vending-machine .sandwich-section {
    position: absolute;
    width: 176px;
    height: 114px;
    top: 0;
    left: 7px;
  }
  
  .vending-machine .overlap-group-3 {
    position: relative;
    width: 172px;
    height: 97px;
    top: 15px;
    left: 3px;
  }
  
  .vending-machine .shadow-foodsw {
    position: absolute;
    width: 145px;
    height: 45px;
    top: 34px;
    left: 10px;
  }
  
  .vending-machine .sandwich {
    position: absolute;
    width: 73px;
    height: 55px;
    top: 0;
    left: 28px;
    object-fit: cover;
  }
  
  .vending-machine .sandwich-2 {
    top: 7px;
    left: 50px;
    position: absolute;
    width: 73px;
    height: 55px;
    object-fit: cover;
  }
  
  .vending-machine .sandwich-3 {
    top: 14px;
    left: 71px;
    position: absolute;
    width: 73px;
    height: 55px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen3 {
    top: 68px;
    left: 1px;
  }
  
  
  .vending-machine .sandwich-text {
    width: 136px;
    top: 81px;
    left: 52%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    position: absolute;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    line-height: normal;
    z-index: 10;
  }
  

  
  .vending-machine .rice-meals-section {
    position: absolute;
    width: 96%;
    height: 32%;
    top: 2%;
    left: 2%;
    overflow: hidden;
  }
  
  .vending-machine .overlap-16 {
    position: relative;
    width: 100%;
    height: 80%;
  }
  
  .vending-machine .division-2 {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 64%;
    left:50%;
    background-color: #ecc8af;
    border: 1px solid;
    border-color: #ce796b;
    box-shadow: 0px 4px 4px #00000040;
    transform: translate(-50%, -50%);

  }
  
  .vending-machine .stand-7 {
    top: 66px;
    left: 666px;
   }
  
  .vending-machine .stand-8 {
    top: 65px;
    left: 43px;
   }
  
  
  .vending-machine .pastil-section {
    position: absolute;
    width: 183px;
    height: 122px;
    top: 26px;
    left: 51px;
    overflow: hidden;
  }
  
  .vending-machine .overlap-group-4 {
    position: relative;
    width: 172px;
    height: 105;
    top: 18px;
    left: 7px;
  }
  
  .vending-machine .shadow-foodpt {
    position: absolute;
    width: 148px;
    height: 56px;
    top: 32px;
    left: 5px;
  }
  
  .vending-machine .pastil {
    top: 0;
    left: 14px;
    position: absolute;
    width: 112px;
    height: 54px;
    object-fit: cover;
  }
  
  .vending-machine .pastil-image {
    top: 10px;
    left: 32px;
    position: absolute;
    width: 112px;
    height: 54px;
    object-fit: cover;
  }
  
  .vending-machine .pastil-2 {
    top: 22px;
    left: 52px;
    position: absolute;
    width: 112px;
    height: 54px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen4 {
    top: 76px;
    left: 0;
  }
  
.vending-machine .pastil-text {
  position: absolute;
  z-index: 10; /* Ensure text is in front */
  top: 89px;
  left: 50%;
  transform: translate(-50%, -50%); /* Center text */
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #2b2b2b;
  font-family: "Press Start 2P", Helvetica;
  font-weight: 400;
  color: #fefefe;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
  
  .vending-machine .sisig-section {
    position: absolute;
    width: 180px;
    height: 105px;
    top: 46px;
    left: 272px;
  }
  
  .vending-machine .overlap-18 {
    height: 103px;
    left: 8px;
    position: relative;
    width: 172px;
  }
  
  .vending-machine .shadow-foodss {
    position: absolute;
    width: 150px;
    height: 52px;
    top: 28px;
    left: 9px;
  }
  
  .vending-machine .sisig-silog {
    height: 71px;
    top: 0;
    left: 22px;
    position: absolute;
    width: 99px;
    object-fit: cover;
  }
  
  .vending-machine .sisig-silog-2 {
    height: 82px;
    top: 0;
    left: 38px;
    position: absolute;
    width: 99px;
    object-fit: cover;
  }
  
  .vending-machine .sisig-silog-3 {
    height: 88px;
    top: 4px;
    left: 52px;
    position: absolute;
    width: 99px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen5 {
    top: 74px;
    left: -5px;
  }
  
  .vending-machine .sisilog-text {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 87px;
    left: 48%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .sinuglaw-section {
    position: absolute;
    width: 186px;
    height: 107px;
    top: 38px;
    left: 480px;
    overflow: hidden;
  }
  
  .vending-machine .overlap-19 {
    position: relative;
    width: 172px;
    height: 99px;
    top: 13px;
    left: 10px;
  }
  
  .vending-machine .shadow-foodsin {
    position: absolute;
    width: 137px;
    height: 52px;
    top: 26px;
    left: 10px;
  }
  
  .vending-machine .sinuglaw {
    top: 0;
    left: 39px;
    position: absolute;
    width: 59px;
    height: 51px;
    object-fit: cover;
  }
  
  .vending-machine .sinuglaw-image {
    top: 11px;
    left: 54px;
    position: absolute;
    width: 59px;
    height: 51px;
    object-fit: cover;
  }
  
  .vending-machine .sinuglaw-2 {
    top: 20px;
    left: 73px;
    position: absolute;
    width: 59px;
    height: 51px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen6 {
    top: 69px;
    left: -3px;
  }
  
  .vending-machine .text-wrapper-7 {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 82px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .stand-9 {
    top: 65px;
    left: 457px;
    }
  
  .vending-machine .stand-10 {
    top: 65px;
    left: 239px;
   }
  
  .vending-machine .stand-11 {
    top: 65px;
    left: 256px;
    }
  
  .vending-machine .stand-12 {
    top: 65px;
    left: 472px;
    }
  
  .vending-machine .drinks-section {
    position: absolute;
    width: 718px;
    height: 136px;
    top: 154px;
    left: 11px;
    overflow: hidden;
  }
  
  .vending-machine .overlap-20 {
    position: relative;
    width: 715px;
    height: 143px;
    top: -5px;
    left: 1px;
  }
  
  .vending-machine .stand-13 {
    top: 56px;
    left: 457px;
   }
  
  .vending-machine .overlap-21 {
    position: absolute;
    width: 715px;
    height: 143px;
    top: 0;
    left: 0;
  }
  
  .vending-machine .stand-14 {
    top: 57px;
    left: 256px;
   }
  
  .vending-machine .stand-15 {
    top: 57px;
    left: 239px;
    }
  
  .vending-machine .division-3 {
    position: absolute;
    width: 95%;
    height: 3%;
    top: 95%;
    left:50%;
    background-color: #ecc8af;
    border: 1px solid;
    border-color: #ce796b;
    box-shadow: 0px 4px 4px #00000040;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .drinks-shadow {
    position: absolute;
    width: 150px;
    top: 5px;
    left: 283px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Nico Moji-Regular", Helvetica;
    font-weight: 400;
    color: #744f17;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .text-wrapper-8 {
    position: absolute;
    width: 150px;
    top: 0;
    left: 283px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Nico Moji-Regular", Helvetica;
    font-weight: 400;
    color: #fdac33;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .cobra-section {
    position: absolute;
    width: 183px;
    height: 128px;
    top: 13px;
    left: 480px;
  }
  
  .vending-machine .overlap-group-5 {
    position: relative;
    width: 172px;
    height: 108px;
    top: 19px;
    left: 7px;
  }
  
  .vending-machine .shadow-foodcb {
    position: absolute;
    width: 129px;
    height: 48px;
    top: 42px;
    left: 16px;
  }
  
  .vending-machine .buttongreen7 {
    top: 80px;
    left: 0;
  }
  
  .vending-machine .text-wrapper-9 {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 93px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .cobra {
    top: 0;
    left: 57px;
    position: absolute;
    width: 48px;
    height: 80px;
    object-fit: cover;
  }
  
  .vending-machine .cobra-2 {
    top: 5px;
    left: 73px;
    position: absolute;
    width: 48px;
    height: 80px;
    object-fit: cover;
  }
  
  .vending-machine .cobra-3 {
    top: 11px;
    left: 90px;
    position: absolute;
    width: 48px;
    height: 80px;
    object-fit: cover;
  }
  
  .vending-machine .donmac-section {
    position: absolute;
    width: 187px;
    height: 104px;
    top: 39px;
    left: 264px;
  }
  
  .vending-machine .overlap-22 {
    height: 102px;
    left: 6px;
    position: relative;
    width: 172px;
  }
  
  .vending-machine .shadow-fooddm {
    position: absolute;
    width: 125px;
    height: 47px;
    top: 35px;
    left: 16px;
  }
  
  .vending-machine .don-mac {
    height: 55px;
    top: 0;
    left: 48px;
    position: absolute;
    width: 38px;
    object-fit: cover;
  }
  
  .vending-machine .don-mac-image {
    height: 59px;
    top: 4px;
    left: 67px;
    position: absolute;
    width: 38px;
    object-fit: cover;
  }
  
  .vending-machine .don-mac-2 {
    height: 59px;
    top: 14px;
    left: 84px;
    position: absolute;
    width: 38px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen8 {
    top: 73px;
    left: 5px;
  }
  
  .vending-machine .text-wrapper-10 {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 86px;
    left: 54%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .tastickles-section {
    position: absolute;
    width: 175px;
    height: 127px;
    top: 16px;
    left: 58px;
  }
  
  .vending-machine .overlap-23 {
    position: relative;
    width: 172px;
    height: 117px;
    top: 6px;
  }
  
  .vending-machine .shadow-foodts {
    position: absolute;
    width: 145px;
    height: 49px;
    top: 50px;
    left: 8px;
  }
  
  .vending-machine .tastickles {
    position: absolute;
    width: 97px;
    height: 83px;
    top: 0;
    left: 16px;
    object-fit: cover;
  }
  
  .vending-machine .tastickles-2 {
    position: absolute;
    width: 97px;
    height: 83px;
    top: 6px;
    left: 37px;
    object-fit: cover;
  }
  
  .vending-machine .tastickles-3 {
    position: absolute;
    width: 97px;
    height: 83px;
    top: 12px;
    left: 60px;
    object-fit: cover;
  }
  
  .vending-machine .buttongreen9 {
    top: 90px;
    left: 1px;
   }
  
  .vending-machine .tastickles-text {
    position: absolute;
    z-index: 10; /* Ensure text is in front */
    top: 103px;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #2b2b2b;
    font-family: "Press Start 2P", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 15.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vending-machine .stand-16 {
    top: 56px;
    left: 472px;
  }
  
  .vending-machine .stand-17 {
    top: 56px;
    left: 666px;
  }
  
  .vending-machine .stand-18 {
    top: 56px;
    left: 44px;
  }
  
  .vending-machine .stand{
    position: absolute;
    width: 6px;
    height: 69px;
    background-color: #817b7b;
    border: 1px solid;
    border-color: #6a6464;
  }
  
  .vending-machine .glass-shadow-vm {
    position: absolute;
    width: 716px;
    height: 423px;
    top: 8px;
    left: 12px;
  }
  
  .vending-machine .inside_black3 {
    position: absolute;
    width: 65%;
    height: 18%;
    top: 86%;
    left: 40%;
    background-color: #343131;
    border-radius: 20px;
    filter: blur(4px);
    transform: translate(-50%, -50%);
    }
  
    .vending-machine .inside_shadow3 {
      position: absolute;
      width: 65%;
      height: 18%;
      top: 85%;
      left: 39%;
      background-color: #ffffff;
      border-radius: 20px;
      filter: blur(4px);
      transform: translate(-50%, -50%);
      }
  
  .vending-machine .pick-up {
    position: absolute;
    width: 64%;
    height: 17%;
    top:85%;
    left: 39%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
  }
  
  .vending-machine .design-side {
    position: absolute;
    width: 4%;
    height: 80%;
    top: 50%;
    left: 4.5%;
    transform: translate(-50%, -50%);
}

.vending-machine .overlap-24 {
    position: relative;
    width: 100%; 
    height: 100%; 
}

.vending-machine .light-side {
    position: absolute;
    width: 80%; /* Cover 100% of the parent container */
    height: 100%; /* Cover 100% of the parent container */
    top: 0;
    left: 0;
    background-color: #ffffff;
    filter: blur(4px);
    transform: translate(0, 0); /* Reset translate since it's already covering the parent */
}

.vending-machine .red-side {
    position: absolute;
    width: 50%; /* Set width to 50% of the parent container */
    height: 100%; /* Adjust height to your requirement */
    top: 0;
    left: 0;
    background-color: #b81702;
}
  
.vending-machine .flowers {
  position: absolute;
  width: 27%;
  height: 20%;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%); /* Centering within the specified position */
}

.vending-machine .overlap-25 {
  position: relative;
  width: 100%;
  height: 100%;
}

.vending-machine .flowers-2,
.vending-machine .flowers-3,
.vending-machine .flowers-4 {
  position: absolute;
  object-fit: cover;
  transform: translate(-50%, -50%); /* Centering within the parent */
}

.vending-machine .flowers-2 {
  width: 60%;
  height: 50%;
  top: 50%;
  left: 50%;
}

.vending-machine .flowers-3 {
  width: 60%;
  height: 50%;
  top: 50%;
  left: 70%;
}

.vending-machine .flowers-4 {
  width: 60%;
  height: 60%;
  top: 50%;
  left: 30%;
  user-select: none;
}